.form {
  position: relative;
  max-width: 1197px;
  margin: 0 auto;
  border-radius: 30px;
  background: #eaeeef;
  padding: 40px 50px 80px;
  margin-bottom: 100px;
  &-wrapper {
    padding-top: 90px;
  }
  &__title {
    font-family: "Cormorant Infant";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
  }
  &__top {
    margin-top: 28px;
    margin-bottom: 40px;
    display: flex;
  }
  &__checkbox-wrapper {
    display: flex;
    margin-right: 76px;
  }
  .checkbox-label {
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: 2px solid #70908b;
    background: rgb(255, 255, 255);
    border-radius: 61px;
    height: 52px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background: $jupiter;
      color: #ffffff;
    }
    &_myself {
      padding-left: 26px;
      padding-right: 26px;
      margin-right: 14px;
    }
    &_kids {
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 14px;
    }
    &_breeding {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .myself {
    display: none;
    &:checked + .checkbox-label_myself {
      background: #70908b;
    }
  }
  .kids {
    display: none;
    &:checked + .checkbox-label_kids {
      background: #70908b;
    }
  }
  .breeding {
    display: none;
    &:checked + .checkbox-label_breeding {
      background: #70908b;
    }
  }
  &__radio-wrapper {
    .radio-row {
      &-top {
        margin-bottom: 12px;
        label {
          margin-right: 50px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &-bottom {
        label {
          margin-right: 47px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .amount {
    display: none;
  }
  .amount {
    &:checked + .radio-label {
      &::after {
        opacity: 1;
      }
    }
  }
  .radio-label {
    position: relative;
    padding-left: 21px;
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #70908b;
    cursor: pointer;
    &::before {
      @extend %ba;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: #ffffff;
      border: 1px solid #70908b;
      border-radius: 100%;
    }
    &::after {
      @extend %ba;
      width: 8px;
      height: 8px;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      background: #70908b;
      border-radius: 100%;
      opacity: 0;
      transition: 0.3s;
    }
  }
  &__bottom {
    &-inputs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    input {
      background: #f8f8f8;
      border-radius: 8px;
      outline: none;
      height: 62px;
      width: 352px;
      padding-left: 27px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #195557;
      &::placeholder {
        color: #195557;
      }
    }
    .textarea {
      max-width: 1096px;
      width: 100%;
      height: 108px;
      background: #f8f8f8;
      border-radius: 8px;
      padding-top: 24px;
      padding-left: 27px;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #195557;
      }
    }
  }
  &__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 69px;
    background: #70908b;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    z-index: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    transition: .4s;
    cursor: pointer;
    &:hover{
      opacity: 0;
    }
  }
  .hover-mask{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 69px;
    background: #70908b;
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    z-index: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}
