//Truth CYR
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.woff2),
    url(../fonts/Raleway/Raleway-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Medium.woff2),
    url(../fonts/Raleway/Raleway-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Bold.woff2),
    url(../fonts/Raleway/Raleway-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Infant";
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.woff2),
  url(../fonts/Cormorant_Infant/CormorantInfant-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Infant";
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Medium.woff2),
  url(../fonts/Cormorant_Infant/CormorantInfant-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Infant";
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Bold.woff2),
  url(../fonts/Cormorant_Infant/CormorantInfant-Medium.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}