$text-color: #195557;
$sandy-beach: #FFEDCD;
$zanah: #E2F0DF;
$jupiter: #70908B;
$silver: #C4C4C4;

%title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
%ba{
  position: absolute;
  content: "";
}