.main{
  @media (max-width: 1735px) {
    .container {
      .img-left{
        width: 300px;
        top: -288px;
      }
    }
  }
  @media (max-width: 1445px){
    .container {
      .img-left{
        top: -550px;
      }
      .img-right{
        top: -560px;
      }
    }
  }
  @media (max-width: 1335px){
    .arrow-left{
      top: 60px;
      left: 30px;
    }
    .arrow-right{
      bottom: auto;
      top: 60px;
      right: 30px;
    }
  }
  @media (max-width: 1080px){
    .img-left{
      display: none;
    }
    .img-right{
      display: none;
    }
  }
  @media (max-width: 500px){
    .img-right{
      display: block;
      z-index: 1;
    }
  }
  @media (max-width: 400px){
    .container{
      .img-right{
        width: 312px;
        top: -454px;
      }
    }
  }
}